<link rel="stylesheet" href="css/job-seeker.css">
<div class="container">
    <div class="box-1">
        <h1>A comprehensive platform for reliable</h1>
        <h2 id="typeWriter"></h2>
        <h5>Get Discovered. Get Hired</h5>
        <div class="actions">
            <a href="/jobs"  class="btn btn-lg ">I'm A job seeker</a>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <a href="/signup" class="btn btn-lg ">I'm A Recruiter</a>
              </button>
            
        </div>
    </div>
    <div class="box-2">
        <img class="symbolimage" src="OIG3.jpeg" alt="" srcset="">

    </div>
</div>
<script src="/javascript/job-seeker.js"></script>